# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

.vscode/
.DS_STORE
*.wsd
# Executables
*.exe
*.out
*.app

# Object files (сгенерированные объектные файлы)
*.o

# Qmake cache file
.qmake.stash

# PlantUML diagram files
*.puml

# Makefile (если он автоматически генерируется qmake или cmake)
Makefile

# Qt project file (если он не является необходимым для сборки в других системах)
*.pro